# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# IntelliJ/Android Studio
*.iml
.idea/

# VS Code
.vscode/

# Android
**/local.properties
**/captures/
**/.cxx/
**/gradle-app.setting
**/GeneratedPluginRegistrant.java
**/google-services.json
**/release/

# iOS/macOS
**/Pods/
**/Podfile.lock
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Runner/GeneratedPluginRegistrant.*
**/GoogleService-Info.plist

# Web
**/firebase-messaging-sw.js

# Platform-specific build outputs
**/build/
**/DerivedData/

# Logs
**/*.log

# Misc
.DS_Store
